# PostgreSQL connection string (Supabase, Neon, Vercel Postgres, etc.)
DATABASE_URL="postgresql://neondb_owner:npg_BdMyIbh9sir0@ep-green-sunset-aw2uz1vw-pooler.c-12.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"

# Flutterwave Credentials
FLW_PUBLIC_KEY="FLWPUBK_TEST-568a81ac7b0bafb92d9a925e09d30536-X"
FLW_SECRET_KEY="FLWSECK_TEST-af5049100467807fe7b114fa616dd1c4-X"
FLW_ENCRYPTION_KEY="FLWSECK_TEST8590efc20961"
FLW_WEBHOOK_SECRET_HASH="657e74b1b1fd69e400fd4d9c0a79c78e5173aae8024ba3a3cec2b9c7ad2c7f09"


# Flutterwave Payment Plan IDs (created in Flutterwave Dashboard -> Payment Plans)
FLW_MONTHLY_PLAN_ID="167422"
FLW_ANNUAL_PLAN_ID="167424"

# Vercel Cron Secret (protects /api/cron-charge-trials)
CRON_SECRET="97fece0ea9c5c8ab5d70ffc265c82e3938555dfa8d872022707f6d7d822004c5"

# To decide the IP Address of the user
IP_HASH_SALT="1a143d13e7c43884d1af3328cd7b1ee0e6271dea5930b8799315c60b2c54fcca"
